body{
    background: #AE916E;
    font-size: 32px;
}

.logo{
    margin-top: 15px;
    margin-left: 20px;
    width: 4%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 90px;
}

#texto{
    font-size: 25px;
    border: none;
    height: 310px;
    width: 635px;
    padding: 15px 15px;
    margin-top: 40px;
    text-transform: lowercase;
    background-color: #AE916E;
}

::placeholder {
    font-size: 25px;
    text-transform: none;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
}
    #texto:focus{
        outline: none;
    }

.simboloInfo{
    margin-right: 3px;
    width: 2.5%;
}

.informacion{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

.botones{
    display: flex;
    margin-top:18px;
}

#encriptar, #desencriptar{
    padding: 15px 15px;
    width: 300px; 
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#encriptar{
    background-color: #A8645B;
    box-shadow: 0px 5px #694332;
}

#desencriptar{
    margin-left: 50px;
    background-color: #7E8F3F;
    box-shadow: 0px 5px #494825;
}

#encriptar:hover, #desencriptar:hover, #copiar:hover{
    transform: scale(1.05);
}

#mensaje{
    background: white;
    background-image: url(Sherlock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:20px;
    background-size: 50%;
    border: none;
    font-size: 25px;
    height: 480px; 
    width: 300px;
    border-radius: 30px;
    margin-left: 165px;
    padding: 20px 20px;
    position: absolute;
    text-transform: lowercase;
}

#mensaje:focus{
    outline: none;
}

#mensajeNoEncontrado{
    font-size: 23px;
    text-align: center;
    text-transform: none;
    position: absolute;
    display: block;
    top: 60%;
    font-weight: bold;
    margin-left: 13.5%;
    width: 300px;
    font-family: 'Nunito Sans', sans-serif;
}

#ingreseTexto{
        font-size: 20px;
        text-align: center;
        text-transform: none;
        position: absolute;
        display: block;
        top: 70%;
        margin-left: 13.5%;
        width: 300px;
        font-family: 'Nunito Sans', sans-serif;
}

#copiar{
    background-color: #D28A08;
    box-shadow: 0px 5px #9E5D06;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    width: 300px;
    margin-left: 185px;
    margin-top: 414px;
    padding: 15px 15px;
    position: absolute;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (max-width:480px) {
    .logo{
        width: 6%;
        margin-top: 6%;
    }
    main{
        margin-left: 2%;
    }
    .ingreso{
        position: absolute;
        padding: 5% 5%;
        padding-right: 7% ;
    }
    #texto{
        width: 500;
    }
    .resultado{
        position: absolute;
        margin-top: 600px;
        padding: 5% 5%;
        padding-right: 7% ;
    }
    #mensaje{
        height: 310px;
        width: 635px;
        margin-left: 0%;
        background-size: 18%;
    }

    #mensajeNoEncontrado{
        margin-top: 450%;
        margin-left: 400%;
    }

    #ingreseTexto{
        margin-top: 570%;
        margin-left: 400%;
    }

    #copiar{
        margin-top: 760%;
    }
}
